.App{
  width: 350px;
  height: 650px;
  border: 4px solid black;
  background-color: yellow;
}
.light{
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
  margin: auto;
  margin-top: 7px;
}