.App{
  width: 350px;
  height: 650px;
  border: 4px solid black;
  background-color: rgb(255, 217, 0);
}
.Light{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 7px;
  border: 3px solid cyan;
}