.app{
  width: 250px;
  height: 750px;
  border: 4px solid black;
  background-color: yellow;
}

.lights{
  width: 250px;
  height: 250px;
  border: 2px solid blue;
  border-radius: 50%;
  margin: auto;
  margin-top: 9px;
}